extends layout

block content
  h1.text-center= title
  p.text-center Welcome to #{title}
  .row
    .panel.small-6.small-centered.columns.text-center
      form(name="login", action="/test", method="post")
        label.text-left Username
          input(type="text", name="user")
        label.text-left password
          input(type="password", name="pass")
        button.success( type="submit" ) Submit

