extends layout

block content
  .row
    .small-10.columns.small-centered.text-center
      h1 Welcome #{username}
    .small-10.columns.small-centered.text-center

script (type="text/javascript")
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBut-frS2qMMIwIXFq7VTEqBEUCQNTebyA"
